.box1 {
    background-color: brown;
}

.box2 {
    background-color: aqua;
}

.box3 {
    background-color: aquamarine;
}

.box4 {
    background-color: red;
}

.box5 {
    background-color: greenyellow;
}

.box6 {
    background-color: blue;
}

.box7 {
    background-color: blueviolet;
}

.box8 {
    background-color: gold;
}